h2 {
  color: #333841;
}

h4 {
  font-size: medium;
  margin-top: 10px;
  margin-bottom: 10px;
}



label {
  color: #333841;
}

.kanban-board {
  display: flex;
  gap: 1rem;
  padding: 1rem;
  min-height: 100vh;
  background-color: #f0f0f0;
}

.col {
  flex: 1;
  border-radius: 8px;
  padding: 1rem;
  min-width: 300px;
  background-color: #e6e3e3;
}

.col h3 {
  margin: 0 0 1rem 0;
  color: #172b4d;
  font-size: 1.2rem;
}

.cards-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

}

.card {
  position: relative;
  background: #ffffff;
  border-radius: 8px;
  padding: 0.7rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-left: 4px solid;
  text-align: left;
  color: black;
}

.card:hover {
  transform: translateY(-2px); 
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
}

.card div {
  margin-bottom: 0.2rem;
  font-size: 0.75rem;
  line-height: 1.5rem;
  font-weight: 100;
}

.card .due {
  margin-bottom: 0.7rem;
  margin-top: -0.5rem;
}

.card .delete-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  padding: 4px 8px;
  font-size: 0.8rem;
  background-color: #ff3b30;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 2;
}

.card .delete-btn.second-btn {
  position: absolute;
  top: 8px;
  font-size: 0.7rem;
  right: 40px;
  background-color: #0e4380fa;
  z-index: 1;
}


.card .delete-btn:hover {
  opacity: 0.7;
}

.card .delete-btn:focus,
.card .delete-btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.btn-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-container-bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}





.card .start-btn {
  top: 8px;
  right: 8px;
  border: 1px solid #4D90FE;
  padding: 5px 8px;
  font-size: 0.7rem;
  background-color: white;
  color: #4D90FE;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.2s;
  font-weight: bold;
}

.card .start-btn:hover {

  border: 1px solid #4D90FE;

  background-color: #4D90FE;
  color: white;
  transform: scale(1.02); 

  transition: opacity 0.2s;

}


.card .done-btn {
  top: 8px;
  right: 8px;
  border: 1px solid #66BB6A;
  padding: 5px 8px;
  font-size: 0.7rem;
  background-color: white;
  color: #66BB6A;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.2s;
  font-weight: bold;
}

.card .done-btn:hover {

  border: 1px solid #66BB6A;

  background-color: #66BB6A;
  color: white;
  transform: scale(1.02); 

  transition: opacity 0.2s;

}

.card .info-btn {
  top: 8px;
  right: 8px;
  border: 1px solid transparent;
  padding: 5px 8px;
  font-size: 0.65rem;
  background-color: #63aca8;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.2s;
  font-weight: bold;
}


.card .info-btn:hover {
  opacity: 0.8;
  transform: scale(1.02); 
}

.card .info-btn:focus,
.card .info-btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.edit-btn {
  top: 8px;
  right: 8px;
  border: 1px solid transparent;
  padding: 5px 8px;
  font-size: 0.8rem;
  background-color: #172b4d;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.2s;
  font-weight: bold;
}

.label {
  background-color: #ff3b30;
  padding: 1px 6px;
  border-radius: 20px;
  color: white;
  font-size: 0.6rem;
  font-weight: bold;
  display: inline-block;
}

form {
  margin: 20px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 400px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form h2 {
  text-align: center;
  font-size: 20px;
  color: #007bff;
}

form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 14px;
  color: #333;
}

input,
select,
textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
  background-color: #fff;
}

input:focus,
select:focus,
textarea:focus {
  border-color: #007bff;
  /* Cor azul para foco */
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.5);
  /* Leve brilho ao redor */
}

form textarea {
  resize: vertical;
  min-height: 100px;
}

form button {
  padding: 12px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background: #1c5797;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

button:hover {
  background: #3187e2;
}

input[type="date"] {
  font-size: 14px;
  color: #333;
  padding: 10px 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  transition: border-color 0.3s;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  cursor: pointer;
  filter: invert(0.6);
}

select {
  appearance: none;
  background-color: white;
  cursor: pointer;
  color: #333;
  padding-right: 30px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23333' viewBox='0 0 24 24'%3E%3Cpath d='M7 10l5 5 5-5z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 16px;
}

select:focus {
  border-color: #007bff;
  box-shadow: 0 0 6px rgba(0, 123, 255, 0.5);
}

.info {
font-weight: bold;
font-size: .85rem;
}

.drop-area {
  border: 1px dashed rgb(88, 88, 88);
  color: rgb(88, 88, 88);
  padding: 10px;
  font-size: 16px;
}

